<!DOCTYPE html>
<html>
  <head>
    <title>AdminnowShowcase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav>
      <!-- Other navigation links -->
      <% if user_signed_in? %>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
